<div ng-controller="dashboardController">
    <div class="banner purple">
        <img class="bannerLogo" src="/static/img/logo-white.png">
        <div class="logout" ng-click="logout()">LOG OUT</div>
    </div>
    <div class="dashboardTile" ng-hide="skipped">
        <div ng-show="pickMood">
            <div class="tileTitle">
                welcome, {{user}}!
                <br>
                <br>
                how are you feeling today?
                <br>
                <br>
            </div>
            <table class="emojiTable">
                <tr>
                    <td class="angry" ng-click="chooseMood(1)">
                        <img class="emoji" src="/static/img/angry.png">
                    </td>
                    <td class="confident" ng-click="chooseMood(2)">
                        <img class="emoji" src="/static/img/confident.png">
                    </td>
                    <td class="average" ng-click="chooseMood(3)">
                        <img class="emoji" src="/static/img/average.png">
                    </td>
                    <td class="happy" ng-click="chooseMood(4)">
                        <img class="emoji" src="/static/img/happy.png">
                    </td>
                    <td class="sad" ng-click="chooseMood(5)">
                        <img class="emoji" src="/static/img/sad.png">
                    </td>
                </tr>
            </table>
            <div class="journalButton purple" ng-click="skipped=true">SKIP</div>
        </div>
        <div ng-show="writeDetails">
            <div class="tileTitle">feel free to write about it.</div>
            <input type="text" ng-model="journalEntry.details" class="journalEntry">
            <div class="journalButton purple" ng-click="saveMood()">SAVE ENTRY</div>
        </div>
    </div>
    <div class="dashboardTile" ng-show="skipped">
        <div class="entryTile" ng-repeat="entry in journal.data track by $index" ng-click="openDetails($index, entry)">
            <img class="emoji entryEmoji" src="/static/img/angry.png" ng-show="entry[1]==1">
            <img class="emoji entryEmoji" src="/static/img/confident.png" ng-show="entry[1]==2">
            <img class="emoji entryEmoji" src="/static/img/average.png" ng-show="entry[1]==3">
            <img class="emoji entryEmoji" src="/static/img/happy.png" ng-show="entry[1]==4">
            <img class="emoji entryEmoji" src="/static/img/sad.png" ng-show="entry[1]==5">
            <div class="moodText angry" ng-show="entry[1]==1">angry</div>
            <div class="moodText confident" ng-show="entry[1]==2">confident</div>
            <div class="moodText average" ng-show="entry[1]==3">average</div>
            <div class="moodText happy" ng-show="entry[1]==4">happy</div>
            <div class="moodText sad" ng-show="entry[1]==5">sad</div>
            <div class="moodText smaller white">{{entry[0]}}</div>
        </div>
    </div>
    <div class="greyBox" ng-show="showDetails">
        <div class="popup" ng-show="showDetails">
            {{details}}
            <div class="journalButton mint" ng-click="closeDetails()">CLOSE</div>
            <div class="journalButton left purple" ng-click="deleteEntry()">DELETE</div>
        </div>
    </div>
</div>