<!doctype html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
		<script src="http://code.angularjs.org/1.5.3/angular-route.min.js"></script>
		<script src="/static/js/app.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Comfortaa|Roboto" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/style.css" />

        <!-- angular controllers -->
        <script src="/static/js/loginController.js"></script>
        <script src="/static/js/dashboardController.js"></script>
    </head>
    <body ng-app="moodApp">
			 <div ng-view></div>
    </body>
</html>
